.bookMark-container{
    margin-top: 10px;
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 5px;
}

.bookMark{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.trash-icon{
    color: red;
    cursor: pointer;
}
